@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

body {
//Gradient from https://uigradients.com/#Celestial
	background: #3a6186;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.well {
background: #CEC8D7;  /* fallback for old browsers */
}

.home {
	background: #CEC8D7;
}

.about {
	color: #CEC8D7;
}

.nav_button_spacing {
	margin-right: 3px;
}

.primary {
	border-color: #FFB745;
	background: #FFB745;
}

.success {
	border-color: #FF45A2;
	background: #FF45A2;
}

.primary:hover {
	border-color: #FFB745;
	background: #FFB745;
}

.success:hover {
	border-color: #FF45A2;
	background: #FF45A2;
}

.col-md-6.col-md-offset-3.text-center {
	color: white;
}


